@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: 252, 163, 17;
  --dark: 20,33, 61;
  --light: 252, 252, 252;
}

/* Reset CSS */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: rgb(var(--dark));
  background-color: rgb(var(--light));
  font-size: 1rem;
  overflow-x: hidden;
}

.desktop-nav-link{
  color: rgb(var(--dark));
  font-size: 1.2rem;
  font-weight: 500;
  transition: .1s ease-in-out;
}

.desktop-nav-link:hover{
  color: rgb(var(--primary));
}

.desktop-nav-link.active{
  color: rgb(var(--primary));
}

.mobile-nav-link{
  color: rgb(var(--light));
  font-weight: 500;
  transition: .1s ease-in-out;
  margin: 25px 0;
}

.mobile-nav-link:hover{
  color: rgb(var(--primary));
}

.mobile-nav-link.active{
  color: rgb(var(--primary));
}

input:focus + label, input:not(:placeholder-shown) + label{
  transform: translateY(-27px);
}

@layer base {
  .font-outline-2 {
    -webkit-text-stroke: 2px rgb(var(--dark));
  }
  .font-outline-4 {
    -webkit-text-stroke: 4px rgb(var(--dark));
  }
}
